
<h4>Login</h4>
<script>  
  ;(function(ns){
    
     //private
    
    function resetErrors(){
      for (var i=0;i<3;i++){
        document.querySelectorAll('#login' + i + ' .error')[0].innerHTML = '';
      }
    }
    
    function showError(id, msg){
      document.querySelectorAll('#' + id + ' .error')[0].innerHTML = msg;
    }
    
    function postData(url, data) {
      return fetch(url, {
        method: 'POST',
        mode: 'cors',
        cache: 'no-cache',
        headers: {
          'Content-Type': 'application/json',
        },
        redirect: 'follow',
        referrer: 'no-referrer',
        body: JSON.stringify(data), // body data type must match "Content-Type" header
      })
      .then(function(response){
        if (response.redirected){
          document.location.href = response.url;
        }
        return response.json(); // parses JSON response into native JavaScript objects 
      });
    }
    
    // public
    
    ns.formHandler = function(id){
      resetErrors();

      // pop json
      var data = {
        useremail: document.querySelectorAll('#' + id + ' input[name=useremail]')[0].value,
        password: document.querySelectorAll('#' + id + ' input[name=password]')[0].value
      };
      postData('./users/login', data)
        .then(function(data){
          if (!data.success){
            showError(id, data.message);
          }
          // success, express does a redirect
        })
        .catch(function(error){
          showError(id, error);
      });
    }
    
  })(this.app = this.app || {});

</script>

<p>Select a user to login with. Each has a different level of access, hilited in yellow.</p>

<form id="login0" onsubmit="return false">
  <p><b><em>Admin</em> User</b></p>
  <p>
    email: <input name="useremail" type="email" value="someone@nowhere.com"><br />
    password: <input name="password" type="password" value="qwerty"><br />
    <input type="submit" onclick="app.formHandler('login0')">
    <span class="error"></span>
  </p>
</form>

<form id="login1" onsubmit="return false">
  <p><b><em>Editor</em> User</b></p>
  <p>
    email: <input name="useremail" type="email" value="phantom@blackhole.com"><br />
    password: <input name="password" type="password" value="foobar"><br />
    <input type="submit" onclick="app.formHandler('login1')">
    <span class="error"></span>
  </p>
</form>

<form id="login2" onsubmit="return false">
  <p><b><em>Reader</em> User</b></p>
  <p>
    email: <input name="useremail" type="email" value="joedirt@mindspring.com"><br />
    password: <input name="password" type="password" value="mullethead"><br />
    <input type="submit" onclick="app.formHandler('login2')">
    <span class="error"></span>
  </p>
</form>

